<!-- component -->
<nav class="w-full fixed top-0 shadow-lg border-t-4 border-blue-500">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-7">
        <div>
          <%= link_to 'Lnclass', root_path, class:"flex items-center font-bold py-4 px-2" %>
        </div>
      </div>
      <div class="hidden md:flex items-center space-x-1">
        <%= link_to 'Accueil', root_path, class:"py-4 px-2 text-blue-500 font-semibold" %>
        
        <%= link_to 'Documents', root_path, class:"py-4 px-2 text-gray-500 font-semibold hover:text-blue-500 transition duration-300" %>
        <%= link_to "Déconnexion", root_path, class:"bg-purple-600 text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-purple-800 transition duration-300" %>
      </div>
      <div class="mr-10 flex md:hidden">
        <button class="inline-flex items-center justify-center p-2 rounded-md text-dark">
          <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
            <path d="M32 96v64h448V96H32zm0 128v64h448v-64H32zm0 128v64h448v-64H32z">
            </path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="hidden">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 md:hidden">
      <a href="" class="cursor-pointer  text-blue-500 block px-3 py-2 hover:text-blue-500 rounded-md text-base font-medium transition duration-300">Accueil </a>
      <a href="" class="cursor-pointer block px-3 py-2 hover:text-blue-500 rounded-md text-base font-medium transition duration-300">Admin</a>
      <a href="" class="cursor-pointer bg-purple-600 text-white block px-3 py-2 hover:bg-purple-800 rounded-md text-base font-medium transition duration-300">Déconnexion</a>
      </div>
  </div>
</nav>